# Environment variables
.env

# Python cache
**/__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Logs
logs/
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

#temp test files
temp_test.py
test_model.py